<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - EduConnect</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="login-body">
  <div class="login-container">
    <h1>EduConnect</h1>
    <h2>Cadastro</h2>
    <form action="/cadastro" method="POST">
      <label>Nome:</label>
      <input type="text" name="nome" required>

      <label>Email:</label>
      <input type="email" name="email" required>

      <label>Senha:</label>
      <input type="password" name="senha" required>

      <label>Eu sou:</label>
      <select name="role">
          <option value="aluno">Aluno</option>
          <option value="professor">Professor</option>
          <option value="gestor">Gestor</option>
      </select>

      <button type="submit">Cadastrar</button>
    </form>
    <p>Já possui conta? <a href="{{ url_for('login') }}">Entrar</a></p>
  </div>
  <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</body>
</html>
